<h1>Convert <%= @from_currency %> to <%= @next_currencie %></h1>


<p>1 <%=@from_currency%> equals <%=@results.inspect%> <%= @next_currencie %>


<p>Go <a href="/forex/<%=@from_currency%>">back</a>.</p>
